.popup__button {
    padding: 0px 20px;
    height: 44px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #ff862e;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #ff862e;
}