.footer__copyright {
    text-align: center;
    margin-top: 72px;
    padding-left: 25px;
    margin-bottom: 35px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;   
    
  }