@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: url('Gilroy-ExtraBold.otf') format('otf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('Gilroy-Light.otf') format('otf');
}
