.blog__subcribtion {
  width: 770px;
  background-color: #231F20;
  color: #fff;
}

.blog__subcribtion:hover {
  background-color: #fff;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.05));
  color: #000;
}

.blog__subcribtion:hover .blog__link {
  color: #000;
}
